.wrapper .content{
    width: 1230px;
    height: 660px;
}
.wrapper .content .title{
    width:100%;
    height: 35px;
    background-color: #eaeaea;
}
.wrapper .content .title .text{
    margin-left: 242px;
    font-size: 16px;
    line-height: 35px;
    color:#8b8b8b;
}
.wrapper .content .form{
    padding-top: 50px;
}
.wrapper .content .form .bar {
    width: 350px;
    margin: 30px auto 0px auto;
    position: relative;
}
.wrapper .content .form .bar .text {
    width: 70px;
    height: 30px;
    padding-right: 15px;
    line-height: 30px;
    text-align: right;
    font-size: 14px;
}

.wrapper .content .form .bar input {
    width: 260px;
    height: 26px;
    line-height: 26px;
}
.wrapper .content .form .bar .yzm {
    width: 156px;
}
.wrapper .content .form .bar .yzmbtn {
    width: 100px;
    height: 30px;
    margin-left: 5px;
}
.wrapper .content .form .bar #lc-captcha-response {
    position: absolute;
    top: -200px;
    left: 0px;
}
.wrapper .content .form .bar .l-captcha {
    position: absolute;
    top: -5px;
    left: 80px;
    display: none;
}
.wrapper .content .form .submit_btn {
    display: block;
    margin: 30px auto;
    width: 130px;
    height: 30px;
}