.wrapper .content_wrapper .content .password_encrypt .tab_top{
    width: 1029px;
    height: 47px;
    border-bottom: 1px solid #afaeae;
    position: absolute;
    right: 0px;
    top: 0px;
}
.wrapper .content_wrapper .content .password_encrypt .tab_top .title{
    font-weight: bold;
    position: absolute;
    top: 12px;
    left: 24px;
}
.wrapper .content_wrapper .content .password_encrypt .form .old{
    position: absolute;
    left: 340px;
    top: 220px;
}
.wrapper .content_wrapper .content .password_encrypt .form .new{
    position: absolute;
    left: 340px;
    top: 280px;
}
.wrapper .content_wrapper .content .password_encrypt .form .confirm{
    position: absolute;
    left: 340px;
    top: 340px;
}
.wrapper .content_wrapper .content .password_encrypt .form .encrypt{
    width: 110px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #a1a1a1;
    cursor: pointer;
}
.wrapper .content_wrapper .content .password_encrypt .form .encrypt{
    position: absolute;
    right: 94px;
    bottom: 28px;
}
.wrapper .content_wrapper .content .password_encrypt .form .bar{
    width: 350px;
}
.wrapper .content_wrapper .content .password_encrypt .form .bar .text{
    width: 65px;
    height: 30px;
    padding-right: 15px;
    line-height: 30px;
    text-align: right;
}
.wrapper .content_wrapper .content .password_encrypt .form .bar input{
    width: 256px;
    height: 26px;
    line-height: 26px;
}