.wrapper .top_wrapper{
    width:100%;
    border-bottom: 1px solid #dde2e6;
}
.wrapper .top{
    width:1230px;
    height: 69px;
    background-color: #fff;
    margin:0 auto;
}
.wrapper .top .top4{
    margin-left: 162px;
    margin-top: 2px;
    width: 320px;
    height: 66px;
    background-image: url(../image/top/top4.png);
}
.wrapper .top .exit_btn{
    width: 114px;
    margin-top: 24px;
    margin-right: 88px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #a1a1a1;
    cursor: pointer;
}
.wrapper .top .admin_name{
    margin-top: 24px;
    margin-right: 128px;
}
.wrapper .content_wrapper{
    width: 1230px;
    height: 670px;
    margin:0 auto;
}
.wrapper .content_wrapper .content{
    width: 1200px;
    height: 636px;
    margin:30px 15px 0px 15px;
    border:1px solid #afaeae;
    position: relative;
}
.wrapper .content_wrapper .content .nav{
    position: absolute;
    width: 170px;
    height: 636px;
    top: 0px;
    left: 0px;
    border-right: 1px solid #afaeae;
}
.wrapper .content_wrapper .content .nav ul .active{
    color: #009347;
}
.wrapper .content_wrapper .content .nav ul li{
    list-style: none;
    text-align: center;
    line-height: 50px;
    height: 50px;
    cursor: pointer;
}
.wrapper .content_wrapper .content .tab{
    width: 1029px;
    height: 636px;
    position: absolute;
    right: 0px;
    top: 0px;
    display: none;
}
.wrapper .content_wrapper .content .tab .tab_top{
    width: 1029px;
    height: 47px;
    border-bottom: 1px solid #afaeae;
    position: absolute;
    right: 0px;
    top: 0px;
}
.wrapper .content_wrapper .content .tab .tab_top .title{
    font-weight: bold;
    position: absolute;
    top: 12px;
    left: 24px;
}