.wrapper .content_wrapper .content .renewals .tab_top input{
    width: 128px;
    height: 24px;
    position: absolute;
    left: 160px;
    top: 12px;
}
.wrapper .content_wrapper .content .renewals .tab_top select{
    position: absolute;
    left: 300px;
    top: 14px;
}
.wrapper .content_wrapper .content .renewals .tab_top .btn{
    width: 50px;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #a1a1a1;
    cursor: pointer;
}
.wrapper .content_wrapper .content .renewals .tab_top .reflash{
    position: absolute;
    left: 400px;
    top: 12px;
}
.wrapper .content_wrapper .content .renewals .tab_top .search{
    position: absolute;
    left: 460px;
    top: 12px;
}
.wrapper .content_wrapper .content .renewals .tab_top .export{
    position: absolute;
    left: 520px;
    top: 12px;
}
.wrapper .content_wrapper .content .renewals .tab_top .prev{
    width: 60px;
    position: absolute;
    left: 600px;
    top: 12px;
}
.wrapper .content_wrapper .content .renewals .tab_top .next{
    width: 60px;
    position: absolute;
    left: 670px;
    top: 12px;
}
.wrapper .content_wrapper .content .renewals .tab_top .set{
    width:100px;
    position: absolute;
    left: 900px;
    top: 12px;
}
.wrapper .content_wrapper .content .renewals .table{
    width: 1031px;
    position: absolute;
    top: 47px;
    left: -1px;
}
.wrapper .content_wrapper .content .renewals .table table{
    border-collapse:collapse;
}
.wrapper .content_wrapper .content .renewals .table table tr{
    border-bottom: 1px solid #edebeb;
}
.wrapper .content_wrapper .content .renewals .table table tbody tr:hover{
    background-color: #87ceeb;
    border-bottom: 1px solid #87ceeb;
    cursor: pointer;
}
.wrapper .content_wrapper .content .renewals .table table tbody .choice{
    background-color: #87ceeb;
    border-bottom: 1px solid #87ceeb;
}
.wrapper .content_wrapper .content .renewals .table table tr td{
    height: 28px;
    text-align: center;
}
.wrapper .content_wrapper .content .renewals .table table tr td span{
    display:block;
    height: 27px;
    text-align: center;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    line-height: 27px;
    font-size: 12px;
}
.wrapper .content_wrapper .content .renewals .table table .bg{
    background-color: #edebeb;
}
/*开通登记*/
.wrapper .content_wrapper .content .renewals_set{
    width: 1029px;
    height: 636px;
    background-color: #fff;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
}
.wrapper .content_wrapper .content .renewals_set .renewals_set_top{
    width: 1029px;
    height: 47px;
    border-bottom: 1px solid #afaeae;
    position: absolute;
    right: 0px;
    top: 0px;
}
.wrapper .content_wrapper .content .renewals_set .renewals_set_top .title{
    font-weight: bold;
    position: absolute;
    top: 12px;
    left: 24px;
}
.wrapper .content_wrapper .content .renewals_set .message{
    margin-top:100px;
    margin-left:50px;
    width: 900px;
}
.wrapper .content_wrapper .content .renewals_set .text{
    width: 380px;
    height: 50px;
    margin-left: 50px;
}
.wrapper .content_wrapper .content .renewals_set .text span{
    display: block;
    width: 150px;
    text-align: right;
    float: left;
}
.wrapper .content_wrapper .content .renewals_set .text input{
    display: block;
    height: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    float: left;
}
.wrapper .content_wrapper .content .renewals_set .btn{
    width: 110px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #a1a1a1;
    cursor: pointer;
}
.wrapper .content_wrapper .content .renewals_set .print{
    position: absolute;
    right: 480px;
    bottom: 28px;
}
.wrapper .content_wrapper .content .renewals_set .save{
    position: absolute;
    right: 280px;
    bottom: 28px;
}
.wrapper .content_wrapper .content .renewals_set .cancel{
    position: absolute;
    right: 94px;
    bottom: 28px;
}