html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, img, ins, small, strong, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,input {
    margin: 0;
    padding: 0;
	}
	img{
	    border: none;vertical-align: top;
	}
	.fr {
	    float: right;
	}
	.fl {
	    float: left;
	}
	.clear:after {
	    content: '';
	    clear: both;
	    display: block;
	    width: 0;
	    height: 0;
	    visibility:hidden;
	}